@import "tailwindcss";
@import "tw-animate-css";
@import 'leaflet/dist/leaflet.css';
@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

:root {
  --color-primary: #1a1a1a;
  --color-secondary: #f0f6ff;
  --color-tertiary: #f70626;
  --color-quaternary: #535353;
  --color-quinary: #80bcf8;
  --color-senary: #2b2b2d;
  --color-septenary: #0fd105;
  --color-octonary: #ff1a1a;
  --color-nonary: #ffaa00;
  --color-denary: #ffffff;
  --color-undecary: #000000;
  --color-doctary: #717171;
  --color-undocary: #00ffe1;
}

@layer utilities {
  .background-primary { background-color: var(--color-primary); }
  .color-primary { color: var(--color-primary); }
  .line-primary { border-color: var(--color-primary); }
  .shadow-primary { box-shadow: 0 4px 12px var(--color-primary); }
  .ring-primary { --tw-ring-color: var(--color-primary); }

  .background-secondary { background-color: var(--color-secondary); }
  .color-secondary { color: var(--color-secondary); }
  .line-secondary { border-color: var(--color-secondary); }
  .shadow-secondary { box-shadow: 0 4px 12px var(--color-secondary); }
  .ring-secondary { --tw-ring-color: var(--color-secondary); }

  .background-tertiary { background-color: var(--color-tertiary); }
  .color-tertiary { color: var(--color-tertiary); }
  .line-tertiary { border-color: var(--color-tertiary); }
  .shadow-tertiary { box-shadow: 0 4px 12px var(--color-tertiary); }
  .ring-tertiary { --tw-ring-color: var(--color-tertiary); }

  .background-quaternary { background-color: var(--color-quaternary); }
  .color-quaternary { color: var(--color-quaternary); }
  .line-quaternary { border-color: var(--color-quaternary); }
  .shadow-quaternary { box-shadow: 0 4px 12px var(--color-quaternary); }
  .ring-quaternary { --tw-ring-color: var(--color-quaternary); }

  .background-quinary { background-color: var(--color-quinary); }
  .color-quinary { color: var(--color-quinary); }
  .line-quinary { border-color: var(--color-quinary); }
  .shadow-quinary { box-shadow: 0 4px 12px var(--color-quinary); }
  .ring-quinary { --tw-ring-color: var(--color-quinary); }

  .background-senary { background-color: var(--color-senary); }
  .color-senary { color: var(--color-senary); }
  .line-senary { border-color: var(--color-senary); }
  .shadow-senary { box-shadow: 0 4px 12px var(--color-senary); }
  .ring-senary { --tw-ring-color: var(--color-senary); }

  .background-septenary { background-color: var(--color-septenary); }
  .color-septenary { color: var(--color-septenary); }
  .line-septenary { border-color: var(--color-septenary); }
  .shadow-septenary { box-shadow: 0 4px 12px var(--color-septenary); }
  .ring-septenary { --tw-ring-color: var(--color-septenary); }

  .background-octonary { background-color: var(--color-octonary); }
  .color-octonary { color: var(--color-octonary); }
  .line-octonary { border-color: var(--color-octonary); }
  .shadow-octonary { box-shadow: 0 4px 12px var(--color-octonary); }
  .ring-octonary { --tw-ring-color: var(--color-octonary); }

  .background-nonary { background-color: var(--color-nonary); }
  .color-nonary { color: var(--color-nonary); }
  .line-nonary { border-color: var(--color-nonary); }
  .shadow-nonary { box-shadow: 0 4px 12px var(--color-nonary); }
  .ring-nonary { --tw-ring-color: var(--color-nonary); }

  .background-denary { background-color: var(--color-denary); }
  .color-denary { color: var(--color-denary); }
  .line-denary { border-color: var(--color-denary); }
  .shadow-denary { box-shadow: 0 4px 12px var(--color-denary); }
  .ring-denary { --tw-ring-color: var(--color-denary); }

  .background-undecary { background-color: var(--color-undecary); }
  .color-undecary { color: var(--color-undecary); }
  .line-undecary { border-color: var(--color-undecary); }
  .shadow-undecary { box-shadow: 0 4px 12px var(--color-undecary); }
  .ring-undecary { --tw-ring-color: var(--color-undecary); }

  .background-doctary { background-color: var(--color-doctary); }
  .color-doctary { color: var(--color-doctary); }
  .line-doctary { border-color: var(--color-doctary); }
  .shadow-doctary { box-shadow: 0 4px 12px var(--color-doctary); }
  .ring-doctary { --tw-ring-color: var(--color-doctary); }

  .background-undocary { background-color: var(--color-undocary); }
  .color-undocary { color: var(--color-undocary); }
  .line-undocary { border-color: var(--color-undocary); }
  .shadow-undocary { box-shadow: 0 4px 12px var(--color-undocary); }
  .ring-undocary { --tw-ring-color: var(--color-undocary); }

  /* .font-roboto {
    font-family: 'roboto';
  }
  .font-japan-title {
    font-family: 'japan-title';
  }
  .font-japan-subtitle {
    font-family: 'japan-subtitle';
  } */
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
}

